/* Filename: styles.css
   Remarks: For Demo/Testing Purposes.
*/   

.alert-success {
  text-align: center;
}

#lblEmail {
  margin-left: 20px;
}

#lblPassword {
  margin-left: 20px;
}

#currentWeekdayDateTime
{
  margin-left: 20px;
} 